{% extends "base.html" %} {% block content %} {% load static %} 
{% include 'web/includes/header.html' %}
    <span class="overlay"></span>
    <section id="teachers">
      <div class="top">
        <h1>Department Of BA English</h1>
        <span>BACHELOR OF ARTS</span>
      </div>
      <div class="wrapper">
        <div class="hod">
          <div class="main">
            <div class="image-box">
              <img src="./images/Ba-shreejith.JPG" alt="Ba-shreejith" />
            </div>
            <div class="name">
              <h4>Shreejith M</h4>
              <span>HOD OF BA English</span>
            </div>
          </div>
          <div class="contact">
            <a href="tel:+919746402256">
              <small class="icon"><i class="fas fa-phone-alt"></i></small>
              <small>Contact</small>
            </a>
          </div>
        </div>
        <ul class="profiles">
          <li>
            <div class="image-box">
              <img src="./images/Ba-faheem.JPG" alt="Ba-faheem" />
            </div>
            <div class="name">
              <h4>Faheem M</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Ba-iyaas.JPG" alt="Ba-iyyas" />
            </div>
            <div class="name">
              <h4>Iyyas Panoli</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Ba-nadiya.JPG" alt="Ba-nadiyya" />
            </div>
            <div class="name">
              <h4>Nadiyya</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Ba-shameel.JPG" alt="Ba-shameel" />
            </div>
            <div class="name">
              <h4>shameel V</h4>
              <span>TEACHER</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
{% include 'web/includes/footer.html' %}
{% endblock %}


