{% extends "base.html" %} {% block content %} {% load static %} 
{% include 'web/includes/header.html' %}
    <span class="overlay"></span>
    <section id="teachers">
      <div class="top">
        <h1>Department Of Commerce</h1>
        <span>BACHELOR OF COMMERCE</span>
      </div>
      <div class="wrapper">
        <div class="hod">
          <div class="main">
            <div class="image-box">
              <img src="./images/Com-shaji.jpg" alt="Shaji" />
            </div>
            <div class="name">
              <h4>Shaji Menthala</h4>
              <span>HOD OF Commerce</span>
            </div>
          </div>
          <div class="contact">
            <a href="tel:+919947298927">
              <small class="icon"><i class="fas fa-phone-alt"></i></small>
              <small>Contact</small>
            </a>
          </div>
        </div>
        <ul class="profiles">
          <li>
            <div class="image-box">
              <img src="./images/Com-shafeeq.JPG" alt="shafeeq" />
            </div>
            <div class="name">
              <h4>Shafeeq K</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Com-shajil.JPG" alt="Shajil" />
            </div>
            <div class="name">
              <h4>Shajil PC</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Com-farash.JPG" alt="Farash" />
            </div>
            <div class="name">
              <h4>Farash</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/com-aneesha.JPG" alt="Aneesha" />
            </div>
            <div class="name">
              <h4>Aneesha VP</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Com-shyamjith.JPG" alt="Shayamjith" />
            </div>
            <div class="name">
              <h4>Shayamjith</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/com-rajna.JPG" alt="Rajna" />
            </div>
            <div class="name">
              <h4>Rajna K</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Com-abdul-jasik.JPG" alt="Com-abdul-jasik" />
            </div>
            <div class="name">
              <h4>Abdul Jasik</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/com-deyna.JPG" alt="Deyna" />
            </div>
            <div class="name">
              <h4>Deyna</h4>
              <span>TEACHER</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
    {% include 'web/includes/footer.html' %}
    {% endblock %}
  

