{% extends "base.html" %} {% block content %} {% load static %} 
{% include 'web/includes/header.html' %}
    <span class="overlay"></span>
    <section id="teachers">
      <div class="top">
        <h1>Department Of BSc</h1>
        <span>BSC PHYSICS</span>
      </div>
      <div class="wrapper">
        <div class="hod">
          <div class="main">
            <div class="image-box">
              <img src="./images/Phy-juveyriya.JPG" alt="Phy-juveyriya" />
            </div>
            <div class="name">
              <h4>Juveyriya</h4>
              <span>HOD OF BSc Physics</span>
            </div>
          </div>
          <div class="contact">
            <a href="tel:+919895368447">
              <small class="icon"><i class="fas fa-phone-alt"></i></small>
              <small>Contact</small>
            </a>
          </div>
        </div>
        <ul class="profiles">
          <li>
            <div class="image-box">
              <img src="./images/Phy-shilpa.JPG" alt="Phy-shilpa" />
            </div>
            <div class="name">
              <h4>Shilpa</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Phy-jamshida.JPG" alt="Phy-jamshida" />
            </div>
            <div class="name">
              <h4>Jamshida</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Phy-anju.JPG" alt="Phy-anju" />
            </div>
            <div class="name">
              <h4>Anju</h4>
              <span>TEACHER</span>
            </div>
          </li>
          <li>
            <div class="image-box">
              <img src="./images/Phy-anjala-beegam.JPG" alt="Phy-anjala-beegam" />
            </div>
            <div class="name">
              <h4>Anjala Beegam</h4>
              <span>TEACHER</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
{% include 'web/includes/footer.html' %}
{% endblock %}


