{% extends "base.html" %} {% block content %} {% load static %} 
{% include 'web/includes/header.html' %}
      <span class="overlay"></span>
    <section id="portfolio">
      <section class="wrapper">
        <nav class="container">
          <h1>Computer Lab</h1>
        </nav>
        <div class="staff">
          <ul>
            <li class="box">
              <div class="icon">
                <i class="fas fa-tv"></i>
              </div>
              <div class="text">
                <h5>30 Computers</h5>
              </div>
            </li>
            <li class="user">
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <div class="text">
                <h5>3 Staff</h5>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </section>
    <section id="gallery">
      <div class="wrapper">
        <ul>
          <li><img src="./images/Computer1.jpg" alt="" /></li>
          <li><img src="./images/Computer2.jpg" alt="" /></li>
          <li><img src="./images/Computer3.JPG" alt="" /></li>
          <li><img src="./images/Computer4.JPG" alt="" /></li>
          <li><img src="./images/Computer5.JPG" alt="" /></li>
          <li><img src="./images/Computer6.jpg" alt="" /></li>
        </ul>
      </div>
    </section>
{% include 'web/includes/footer.html' %}
{% endblock %}
    